Repository bachya/home-assistant-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-json, check-yaml, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: blacken-docs
        name: ☕️ Format documentation using black
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
        entry: blacken-docs
        require_serial: true
      - id: check-case-conflict
        name: 🔠 Checking for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-executables-have-shebangs
        name: 🧐 Checking that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Checking JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: 💥 Checking for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-symlinks
        name: 🔗 Checking for broken symlinks
        language: system
        types: [symlink]
        entry: check-symlinks
      - id: check-yaml
        name: ✅ Checking YAML files
        language: system
        types: [yaml]
        entry: check-yaml
      - id: codespell
        name: ✅ Checking code for misspellings
        language: system
        types: [text]
        entry: codespell -L hass
      - id: detect-private-key
        name: 🕵️  Detecting private keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: 🔚 Checking end of files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [commit, push, manual]
      - id: fix-byte-order-marker
        name: 🚏 Checking UTF-8 byte order marker
        language: system
        types: [text]
        entry: fix-byte-order-marker
      - id: no-commit-to-branch
        name: 🛑 Checking for commit to protected branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=dev
          - --branch=main
      - id: trailing-whitespace
        name: ✄  Trimming trailing whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: 🎗  Checking YAML files with yamllint
        language: system
        types: [yaml]
        entry: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.4"
    hooks:
      - id: prettier
        name: 💄 Ensuring files are prettier

Bump `ecowitt2mqtt` to 2023.11.1
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Update changelog
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Bump `ecowitt2mqtt` to 2023.11.1 (#123)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Remove Rust from the Dockerfile
  ecowitt2mqtt/Dockerfile
Due: none

Remove Rust from the Dockerfile (#124)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
Due: blacken-docs

Use piwheels.org whenever possible
  ecowitt2mqtt/Dockerfile
Due: none

Use piwheels.org whenever possible (#125)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
Due: blacken-docs

Fix Docker image
  ecowitt2mqtt/Dockerfile
Due: none

Fix changelog
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Fix Docker image (#126)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
Due: blacken-docs

Bump `ecowitt2mqtt` to 2023.11.2
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Update README
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Bump `ecowitt2mqtt` to 2023.11.2 (#129)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Fix build of `armv7` and `aarch` images
  .github/workflows/publish.yml
  ecowitt2mqtt/Dockerfile
Due: check-yaml, yamllint

Fix build of `armv7` and `aarch` images (#138)
  .github/workflows/publish.yml
  ecowitt2mqtt/Dockerfile
Due: check-yaml, yamllint

Update the builder workflow to current standards
  .github/workflows/publish.yml
Due: check-yaml, yamllint

Update the builder workflow to current standards (#139)
  .github/workflows/publish.yml
Due: check-yaml, yamllint

Fix disconnected MQTT retain config option in `ecowitt2mqtt` add-on
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: none

Fix disconnected MQTT retain config option in `ecowitt2mqtt` add-on (#140)
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: none

Make `builder-test` workflow always available
  .github/workflows/builder-test.yml
  .github/workflows/builder.yml
Due: check-yaml, yamllint

Make `builder-test` workflow always available (#142)
  .github/workflows/builder-test.yml
  .github/workflows/builder.yml
Due: check-yaml, yamllint

Readme
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Bump `ecowitt2mqtt` to 2024.01.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

CFFI
  ecowitt2mqtt/Dockerfile
Due: none

More
  ecowitt2mqtt/Dockerfile
Due: none

Bump `ecowitt2mqtt` to 2024.01.0 (#141)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Fix incorrect newlines in `builder` workflow
  .github/workflows/builder.yml
Due: check-yaml, yamllint

Fix incorrect newlines in `builder` workflow (#143)
  .github/workflows/builder.yml
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs, check-yaml, yamllint

Remove unnecessary comment in Dockerfile
  ecowitt2mqtt/Dockerfile
Due: none

Remove unnecessary comment in Dockerfile (#144)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
Due: blacken-docs

Automatically build and test every PR
  .github/workflows/builder-test.yml
  .github/workflows/builder.yml
  .github/workflows/static-analysis.yml
Due: check-yaml, yamllint

Again
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

Fix
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint
