Repository bachya/home-assistant-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-json, check-yaml, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: blacken-docs
        name: ☕️ Format documentation using black
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
        entry: blacken-docs
        require_serial: true
      - id: check-case-conflict
        name: 🔠 Checking for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-executables-have-shebangs
        name: 🧐 Checking that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Checking JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: 💥 Checking for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-symlinks
        name: 🔗 Checking for broken symlinks
        language: system
        types: [symlink]
        entry: check-symlinks
      - id: check-yaml
        name: ✅ Checking YAML files
        language: system
        types: [yaml]
        entry: check-yaml
      - id: codespell
        name: ✅ Checking code for misspellings
        language: system
        types: [text]
        entry: codespell -L hass
      - id: detect-private-key
        name: 🕵️  Detecting private keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: 🔚 Checking end of files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [commit, push, manual]
      - id: fix-byte-order-marker
        name: 🚏 Checking UTF-8 byte order marker
        language: system
        types: [text]
        entry: fix-byte-order-marker
      - id: no-commit-to-branch
        name: 🛑 Checking for commit to protected branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=dev
          - --branch=main
      - id: trailing-whitespace
        name: ✄  Trimming trailing whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: 🎗  Checking YAML files with yamllint
        language: system
        types: [yaml]
        entry: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.4"
    hooks:
      - id: prettier
        name: 💄 Ensuring files are prettier

Again
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

Fix
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

AK
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

ASd
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

KLHASDL
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

COME ON
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

KHASD
  .github/workflows/builder-test.yml
Due: check-yaml, yamllint

Automatically build and test every PR (#148)
  .github/workflows/builder-test.yml
  .github/workflows/builder.yml
  .github/workflows/static-analysis.yml
Due: check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.01.1
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Add config
  ecowitt2mqtt/config.yaml
  ecowitt2mqtt/translations/en.yaml
Due: check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.01.1 (#147)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
  ecowitt2mqtt/translations/en.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.01.2
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Update changelog
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Bump `ecowitt2mqtt` to 2024.01.2 (#149)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Fix missing boolean battery true config option
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: blacken-docs

Fix missing boolean battery true config option (#150)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: blacken-docs

Bump `ecowitt2mqtt` to 2024.04.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.04.0 (#161)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Do not stop plugin if MQTT uses no credentials
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: blacken-docs

Do not stop plugin if MQTT uses no credentials (#164)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: blacken-docs

Bump `ecowitt2mqtt` to 2024.05.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.05.0 (#166)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.06.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.06.0 (#169)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.06.1
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.06.1 (#170)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.06.2
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.06.2 (#171)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Add ability to configure locale in the `ecowitt2mqtt` addon
  ecowitt2mqtt/config.yaml
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: check-yaml, yamllint

update changelog
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Add ability to configure locale in the `ecowitt2mqtt` addon (#172)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/config.yaml
  ecowitt2mqtt/rootfs/etc/services.d/ecowitt2mqtt/run
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.10.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2024.10.0 (#182)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Update ECOWITT2MQTT version in Dockerfile
  ecowitt2mqtt/Dockerfile
Due: none

ci: pin home-assistant/builder to 2026.02.1, fix PEP 668 pip installs
  .github/workflows/builder-test.yml
  .github/workflows/builder.yml
  ecowitt2mqtt/Dockerfile
Due: check-yaml, yamllint

ci: drop armhf/armv7 (removed in home-assistant/builder 2025.11.0+), use explicit archs
  .github/workflows/builder-test.yml
  .github/workflows/builder.yml
  ecowitt2mqtt/config.yaml
Due: check-yaml, yamllint

fix: pass --break-system-packages to ensurepip as well
  ecowitt2mqtt/Dockerfile
Due: none

fix: use apk py3-pip + PIP_BREAK_SYSTEM_PACKAGES env var instead of ensurepip flag
  ecowitt2mqtt/Dockerfile
Due: none

fix: pin base image to alpine 3.20 (Python 3.12) to avoid uvloop/cpython 3.14 incompatibility
  ecowitt2mqtt/build.yaml
Due: check-yaml, yamllint

ci: fix yamllint line-length failures in workflow files
  .github/workflows/builder-test.yml
  .github/workflows/builder.yml
  .mise.toml
  .rtx.toml
Due: check-yaml, yamllint
