Repository bachya/home-assistant-addons: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-json, check-yaml, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: blacken-docs
        name: ☕️ Format documentation using black
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
        entry: blacken-docs
        require_serial: true
      - id: check-case-conflict
        name: 🔠 Checking for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-executables-have-shebangs
        name: 🧐 Checking that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Checking JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: 💥 Checking for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-symlinks
        name: 🔗 Checking for broken symlinks
        language: system
        types: [symlink]
        entry: check-symlinks
      - id: check-yaml
        name: ✅ Checking YAML files
        language: system
        types: [yaml]
        entry: check-yaml
      - id: codespell
        name: ✅ Checking code for misspellings
        language: system
        types: [text]
        entry: codespell -L hass
      - id: detect-private-key
        name: 🕵️  Detecting private keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: 🔚 Checking end of files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [commit, push, manual]
      - id: fix-byte-order-marker
        name: 🚏 Checking UTF-8 byte order marker
        language: system
        types: [text]
        entry: fix-byte-order-marker
      - id: no-commit-to-branch
        name: 🛑 Checking for commit to protected branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=dev
          - --branch=main
      - id: trailing-whitespace
        name: ✄  Trimming trailing whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: 🎗  Checking YAML files with yamllint
        language: system
        types: [yaml]
        entry: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.4"
    hooks:
      - id: prettier
        name: 💄 Ensuring files are prettier

Bump `ecowitt2mqtt` to 2023.01.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/README.md
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.01.0 (#59)
  .github/workflows/publish.yml
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/README.md
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.02.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.02.0 (#66)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.02.1
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.02.1 (#69)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.04.0
  .gitignore
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Update changelog
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Bump `ecowitt2mqtt` to 2023.04.0 (#78)
  .gitignore
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.05.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.05.0 (#82)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.06.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.06.0 (#91)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Add `rtx` config file
  .rtx.toml
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.06.1
  .rtx.toml
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Fix breakage on debian 12 based HA
  ecowitt2mqtt/apparmor.txt
Due: none

Fix breakage on debian 12 based HA (#96)
  ecowitt2mqtt/apparmor.txt
Due: none

Bump `ecowitt2mqtt` to 2023.07.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.07.0 (#97)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.08.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.08.0 (#102)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Remove i386 as a target
  ecowitt2mqtt/build.yaml
  ecowitt2mqtt/config.yaml
Due: check-yaml, yamllint

Remove i386 as a target (#103)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/build.yaml
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Attempt to download wheels from piwheels.org during ARMv6/ARMv7 build
  ecowitt2mqtt/Dockerfile
Due: none

Fix changelog
  ecowitt2mqtt/CHANGELOG.md
Due: blacken-docs

Attempt to download wheels from piwheels.org during ARMv6/ARMv7 build (#105)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
Due: blacken-docs

Ensure Rust is present during build
  ecowitt2mqtt/Dockerfile
Due: none

Ensure Rust is present during build (#108)
  ecowitt2mqtt/Dockerfile
Due: none

Remove `armhf` as a build arch
  README.md
  ecowitt2mqtt/build.yaml
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Update readme
  ecowitt2mqtt/README.md
Due: blacken-docs

Remove `armhf` as a build arch (#115)
  README.md
  ecowitt2mqtt/README.md
  ecowitt2mqtt/build.yaml
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Update `ecowitt2mqtt` description in README
  README.md
Due: blacken-docs

Update `ecowitt2mqtt` description in README (#116)
  README.md
Due: blacken-docs

Bump `ecowitt2mqtt` to 2023.11.0
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Bump `ecowitt2mqtt` to 2023.11.0 (#117)
  ecowitt2mqtt/CHANGELOG.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Remove i386 and armv7 build architectures
  .github/workflows/publish.yml
  README.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/README.md
  ecowitt2mqtt/apparmor.txt
  ecowitt2mqtt/build.yaml
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint

Remove i386 and armv7 build architectures (#122)
  .github/workflows/publish.yml
  README.md
  ecowitt2mqtt/Dockerfile
  ecowitt2mqtt/README.md
  ecowitt2mqtt/apparmor.txt
  ecowitt2mqtt/build.yaml
  ecowitt2mqtt/config.yaml
Due: blacken-docs, check-yaml, yamllint
